IBEX_ENV=development
IBEX_SERVICE_NAME=auth
IBEX_LOG_LEVEL=INFO
IBEX_PORT=8081
IBEX_GRPC_PORT=9091
POSTGRES_DSN=postgres://ibex:ibex@localhost:5432/ibex
IBEX_ARGON2_MEMORY_KIB=65536
IBEX_ARGON2_TIME=3
IBEX_ARGON2_PARALLELISM=2
IBEX_SHUTDOWN_TIMEOUT=30s
