* text=auto eol=lf

*.md linguist-detectable
*.go linguist-language=Go
*.py linguist-language=Python
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
